<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>All About Chickens</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>All about chickens</h1>
	<p>Chickens are domesticated birds that are widely kept for their eggs, meat, and companionship. Originating from the wild red junglefowl of Southeast Asia, chickens have been bred for thousands of years and are now found all over the world. They are highly adaptable animals, thriving in a variety of environments from small backyard coops to large commercial farms. Chickens are known for their social behavior and pecking order, which establishes a hierarchy within a flock. They communicate through a range of vocalizations and body language, and they can recognize individual flock members. Chickens play a vital role in agriculture, contributing to food security and providing nutrient-rich products. Additionally, they are often kept as pets, valued for their personalities and the fresh eggs they provide.</p>
	<h2> <a href="{{ url_for('home') }}"> Back </h2>
</body>
</html>
