<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>All About Pandas</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>All about Pandas</h1>
	<p>Pandas, also known as giant pandas, are beloved animals native to the mountainous regions of central China. Recognized for their distinctive black-and-white fur and gentle demeanor, pandas primarily inhabit bamboo forests, which provide their main food source. Despite their carnivorous ancestry, pandas' diet is over 99% bamboo, supplemented occasionally with other vegetation or small animals. These solitary creatures have a slow reproductive rate, with females giving birth to one or two cubs every two years. Pandas are symbols of conservation efforts worldwide due to their endangered status, driven by habitat loss and low birth rates. Significant efforts by conservation organizations and the Chinese government have helped stabilize and increase panda populations, making them an emblem of wildlife protection and environmental preservation.</p>
	<h2> <a href="{{ url_for('home') }}"> Back </h2>
</body>
</html>
